/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*~
.lein-repl-history
.nrepl-port
.DS_Store
.#*
tmp/*.*
script/
dev/repl.clj
profiles.clj
node_modules
public/client/*